
@{
    ViewBag.Title = "Index";
}

<h2>Bem vindo ao cadastro/consulta de chamado técnico. Escolha uma opção: </h2>
<br>
<ul>
    <li>@Html.ActionLink("Cadastro de Clinte", "Create", "Cliente")</li>
    <li>@Html.ActionLink("Lista de Clientes", "List", "Cliente")</li>
    <li>@Html.ActionLink("Cadastro de Atendente", "Create", "Atendente")</li>
    <li>@Html.ActionLink("Lista de Atendentes", "List", "Atendente")</li>
    <li>@Html.ActionLink("Cadastro de Chamado", "Cadastro", "Chamado")</li>
    <li>@Html.ActionLink("Atendimento de Chamado", "ListarConvidados", "Chamado")</li>
    <li>@Html.ActionLink("Lista de Chamados", "ListarConvidados", "Chamado")</li>
</ul>

